body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
    background-image: url(photos/IMG_E1532.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.hero {
    background: url('photos/2005.jpg') no-repeat center center/cover;
    padding: 50px;
    color: white;
}
.btn {
    display: inline-block;
    padding: 10px 20px;
    background: #ff6600;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}
.content {
    padding: 50px;
    margin-left: 1.7cm;
    width: 100%;
}
.grid{
    width: 100%;
}
.card {
    background: #f4f4f4af;
    padding: 20px;
    border-radius: 10px;
    width: 100%;
    height: fit-content;
}
.cta {
    background: #ddd;
    padding: 40px;
}
footer {
    background: #222;
    color: white;
    padding: 10px;
    margin-top: 20px;
}
.h3{
    color: green;
}
nav{
    font-size: 30px;
    position: fixed;
    top: 0;
    bottom: 0;
    height: auto;
    left: 0;
    background: #1d491b;
    width: 80px;
    transition: width 0.2s linear;
    box-shadow: 0 20px 35px rgba(0, 0, 0, 0.8);
    text-align: center;
    
    
}

nav:hover{
    width: 7cm;
    transition: 0.3s;
}

nav button{
    background-color: #1d491b;
    border: none;
    color: aliceblue;
    cursor: pointer;
    margin-bottom: 2cm;
    font-size: 20px;
    width: 100%;
}

.nav{
    font-size: 15px;
}

nav button:hover{
    background-color: #0d200c;
}

.logo{
    height: 2cm;
    width: 2cm;
    border-radius: 50%;
    top: 0;
    bottom: 0;
    right: 0;
    cursor: pointer;
}
.announcement{
    font-size: 13px;
    background-color: rgb(35, 31, 31);
    width: 10cm;
    height: fit-content;
    color: white;
    border-radius: 10px;
    margin-left: 2cm;
    margin-top: 0.5cm;
    position: fixed;
    text-align: center;
    box-shadow: 10px 10px 10px 5px rgba(0, 0, 0, 0.3);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
#vopenB{
    display: none;
}
#vcloseB{
    display: block;
}
.vcloseB,.vopenB{
    border: none;
    border-radius: 10px;
    background-color: rgb(216, 216, 216);
    cursor: pointer;
    font-size: 30px;
    color: #1900ff83;
}
.openB{
    display: none;
}
.openB,.closeB{
    font-size: 20px;
    position: fixed;
    width: 3cm;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    border: none;
    background-color: #0000008c;
}

.announcement h2{
    color: #175f13;
}
.openB i{
    animation: pulse 1.1s infinite;
}
.head{
    color: rgb(25, 136, 31);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-top: 2.5%;
    text-align: center;
}


@keyframes pulse {
    0% {
        transform: rotate(30deg);
    }
    50% {
        transform: rotate(-30deg);
    }
    100% {
        transform: rotate(30deg);
    }
    
}
.sponsor_list li{
    background-color: #ffffff;
    border-radius: 5px;
    box-shadow: 0px 0px 10px 10px rgba(0, 0, 0, 0.256);
}
.form_of_sponsering a{
    text-decoration: none;
    color: #91991d;
}
.form_of_sponsering a:hover{
    color: #232506;
}
.but{
    position: fixed;
    margin-left: 2cm;
}
iframe{
    border-radius: 5px;
    width: 400px;
    height: 250px;
}
#card{
    position: fixed;
    display: flex;
    top: 0;
    right: 0;
    width: auto;
    height: fit-content;
}#videocontent{
    display: none;
}
.text .logo{
    display: none;
}

#nav span{
    display: none;
}
.nave{
    display: none;
}

@media (max-width: 600px) {
    #nav{
        width: 100%;
        height: 100%;
        box-shadow: none;
        display: none;
        z-index: 100000;
        background-color: #000000b9;
    }
    #nav button{
        height: 2cm;
        width: 90%;
        font-size: 25px;
        background-color: rgba(128, 128, 128, 0.808);
        border-radius: 5px;
        text-align: center;
    }
    #nav span{
        display: block;
        color: #fff;
        position: fixed;
        top: 2%;
        right: 4%;
    }
    #nav span i{
        font-size: 30px;
    }

    .introduction .head{
        font-size: 15px;
    }
    button i,p{
        display: inline;
    }

    button .nav{
        margin-left: 3%;
        font-size: 15px;
    }
    .n i,.nav{
        display: inline;
        font-size: 20px;
    }

    #nav .head{
        font-size: 20px;
        display: block;
        font-weight: bolder;
        margin-top: -4%;
        margin-bottom: 10%;
    }
    nav:hover{
        width: 100%;
        z-index: 100000;
    }
    .nave{
        background-color: #175f13;
        display: block;
        position: fixed;
        height: 1.5cm;
        width: 100%;
        top: 0;
        z-index: 10000;
    }
    .nave h2{
        color: #fff;
        position: fixed;
        top: -1%;
        right: 4%;
    }
    .nave .head{
        margin-top: -9%;
        display: block;
        height: 0;
        text-align: center;
    }
    .nave .slogan{
        display: block;
        color: #d1cfcf;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        font-size: 10px;
        text-align: center;
        margin-top: -1%;
    }
    .nave .logo{
        margin-left: 2%;
        margin-top: 2%;
        display: block;
    }
    .n .logo{
        display: none;
    }


    .head,.wel,.intro{
        font-size: 10px;
    }
    .nav{
        font-size: 12px;
    }
    .logo{
        height: 1cm;
        width: 1cm;
    }
    .footer-col h4{
        font-size: 8px;
        margin: 0%;
    }
    .footer-col ul li a, .footer-col .social-links a, h5{
        font-size: 10%;
        margin-right: 0%;
    }
    .footer-col .social-links a{
        width: 20px;
        height: 20px;
        margin-right: 0.1cm;
        background: none;
    }
    footer{
        margin-left: 0%;
    }
    .announcement{
        font-size: 10px;
        width: 7cm;
        bottom: 14%;
        right: 5%;
        box-shadow: 0px 0px 10px 10px rgba(0, 0, 0, 0.3);
    }
    .openB,.closeB{
        border: solid 2px #00ff00;
        color: #00ff00;
        border-radius: 50%;
        width: 2cm;
        font-size: 25px;
        bottom: 8%;
        right: 5%;
        width: 1.3cm;
        height: 1.3cm;
        background-color: #000000 ;
    }
    .closeB{
        border-color: #000000;
    }
    .but i{
        margin: 0%;
    }
    .timeline-container{
        margin-top: 25%;
        background-color: transparent;
        height: auto;
    }
    iframe{
        width: 240px;
        height: 200px;
    }
    .grid{
        margin: 0%;
    }
    #card{
        position: relative;
        z-index: -1;
    }
    .card{
        margin: 0%;
    }
    section{
        width: 100%;
        font-size: 10px;
    }
    footer{
        margin: 0;
        font-size: 5px;
    }
    .content{
        margin: 0%;
        padding: 0%;
        width: 100%;
    }
}
